*{
    padding: 0;
    margin: 0;

}

.menu{
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0px;
    list-style: none;
    transform: translateX(100%);
    transition: transform .25s linear;
}
.menu.is-show{
    transform: translateX(0);
}
.menu-link {
    display: block;
    padding: 20px;
    color: #333;
    border-bottom: 1px solid #333;
}